.header {
  padding: .5rem 1rem .1rem 1rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 10vh;
}

.header-pic {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}


.home-carusal{
  width: 100%;
  display: block;
  height:auto;
  
}


.nav{
  display:grid;
  padding: 0 1rem;
  align-items: stretch;
}

.tool_bar_navigation_items{
  display: flex;
  padding: .05rem;
}

.menu {
  text-align: center;
  list-style-type: none;
  justify-content: space-evenly;
  display: flex;
  font-size: .9em;
  border-bottom: .07rem solid #C8C8C8;
  border-top: .07rem solid #C8C8C8;
  margin-bottom: 1rem;
}

.menu2 {
  text-align: right;
  list-style-type: none;
  display: flex;
  float: right;
  margin: .5em;
  font-size: .9em;
}



.menu-item {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-items: left;
  padding: .5rem;
  font-size: 1.2em;
  font-family: arial;
  color: #999999;
  background-color: white;
  border: none;
}

.menu-item:hover{
  color: black;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu-right {
  color: #999999;
  text-decoration: none;
  margin-left: 1em;
  vertical-align:baseline;
}

.menu-rightEN {
    color: #999999;
    vertical-align:baseline;

}

.menu-item:hover {
  color: black;
}

.menu-item:active {
  background-color: white;
  border: none;
  color: black;
}

.active-nav-item {
  color: black;
  background-color: white;
  border: none;
}

.menu-right:hover{
  color: black;
  text-decoration: none;
}

.menu-rightEN:hover {
  color: black;
  text-decoration: none;
}

.search-styling {
  display: flex;
  justify-content: flex-end;
  margin-top: .5em;
}

.btn-search-styling {
  border-radius: 5px 5px 5px 5px;
  border-color: #0072bc;
  background-color: white;
  font-family: arial;
}

.input-search-styling {
  border-bottom: solid;
  margin-right: 1em;
}

.btn-search-styling:hover {
  background-color: #0072bc;
  color: white;
}
