.poster-style{
  height: 20vh;
  max-width: 33vh;
  margin-left: 1em;
  margin-right: 1em;
  float: left;

}

.block-styling{
  text-align: justify;
  height: 25vh;
  font-family: arial;
  overflow: hidden;
  padding: 0.2em;
  margin-top: 1.5em;
}

.title-style{
  color: #0072bc;
  font-family: arial;
  text-align: justify;

}

.underline{
  margin-top: 3em;
}
