.poster-style{
  max-height: 70vh;
  max-width: 33vh;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
}

.block-styling{
  text-align: justify;
  font-family: arial;
  overflow: hidden;
  padding: 0.2em;
  margin-top: 1.5em;
}

.title-style{
  color: #0072bc;
  font-family: arial;
  text-align: justify;
  padding-left: 1em;
}

.underline{
  margin-top: 3em;
}
