.container {
    margin: 0 auto;
    //padding: 1rem;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    max-width: 80%;
    font-family: arial;
    font-size: 2vh;
}

.content {
  flex-grow: 1;
  flex-basis: calc((35rem - 100%) * 999);
}
