.carosel1{
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-img-style{
  float: left;
  margin-right: 1.5rem;
  max-width: 20vh;
  max-height: 20vh;
  padding: .5em;
  overflow: hidden;
}

.clearfix{
  overflow:hidden;
}

image-style{
  margin: 0 auto;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.mitgliedern {
    list-style-type: none;
    margin: 0;
    margin-bottom: auto;
}

.mitglied {
    text-align:left;
    font-family: arial;
    font-size: 2vh;
    overflow: hidden;
    margin-left: 1rem;
}

.underline{
  margin: 7em auto;
}

.underlineTop{
  border: .05vw solid #0072bc;
  background-color: #0072bc;
  margin-top: 0;
}

.address-styling{
  font-family: arial;
  display:table;
  text-align:left;
  font-size: 2vh;
  color: #333;
  overflow: hidden;
}

.header-title{
  margin-bottom: 0;
  color: #0072bc;
  font-family: arial;
  font-size: 2vh;
}

.image-styling{
  margin-left: 0 auto;
}

.partner-image{
  margin: 0 auto;
  display: block;
  padding: .5em;
  justify-content: center;
}

.verband-poster{
  align-items: baseline;
  max-width: 16vw;
  max-height: 25vh;
  float: left;
  margin-right: 2em;
  margin-top: 1.5em;
  margin-left: 1em;

}
